{% extends 'ProjectBlogBundle::base.html.twig' %}
{% block body %}
    <div class="hero-unit">
        <h3>{{ article.title }}</h3>
        <small>{{ article.createdAt|date('Y-m-d H:i:s') }}</small>
        <div>{{ article.content }}</div>
    </div>
{% endblock %}